body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}
.nav-header {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  justify-content: space-between;
}

nav,
h1,
.texte-legendes,
div,
footer {
  text-align: center;
}

p {
  color: #FFC0CE;
}

a,
h1,
strong,
a div header {
  color: #FF5267;
}
