body {
  max-width: 320px;
  margin: auto;
  border: solid 2px black;
  background: linear-gradient(90deg, rgba(60,40,199,1) 10%, rgba(32,116,147,1) 50%, rgba(0,106,89,1) 81%);
}

img {
  display: block;
  max-width: 100%;
}

.nav-header {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
}

nav,
h1,
.text-legend,
div,
footer {
  text-align: center;
}

p {
  color: #FFC0CE;
  font-size: 15px;
  line-height: 1.45;
}

a,
h1,
strong {
  color: #FF5267;
}

h1 {
  font-size: 34.5px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 50px 0 25px;
}

.text-legend {
  margin: 8px 0 25px;
  font-size: 12px;
}

.text-music {
  margin-bottom: 25px;
}

a,
p {
  font-family: 'Roboto Slab', serif;
}

footer p {
main div {
  background-color: #0A0AB4;  
  margin-top: 25px;
  padding: 10px 0 13px;
  border-radius: 10px;
  border: 1px solid #00BC86;
}

.img-gif,
.img-anchor {
  border-radius: 15px;
  border: 2px solid #00BC86;
}

footer img {
  max-height: 40%;
  max-width: 40%;
  margin: auto;
}

footer div {
  background-color: #0A0AB4;
  padding: 10px 0;
  margin: 40px 130px;
  border-radius: 10px;
  border: 1px solid #00BC86;
}

.text-impressum {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 30px;
}